@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    /* background-color: black; */
}

body {
    background-color: black;
}


.main {
    background-image: url(Assests/img/bg.jpg);
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 85vh;
    position: relative;
    opacity: 0.45555;
    /* background-color: rgba(0, 0, 0, 0.363); */
}

.main.box {
    height: 650px;
    width: 100%;
    position: absolute;
    top: 0px;
    background-color: black;
    opacity: 0.1555;

}

nav {
    max-width: 80vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    height: 82px;
    align-items: center;
}

nav img {
    color: red;
    width: 144px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    height: calc(100% - 82px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0px 29px;
    text-align: center;
    margin-top: 180px;
    margin: auto;
    z-index: 22;
    font-weight: bolder;




}

.hero>:nth-child(1) {
    margin-top: 180px;
    font-family: "poppins";
    font-weight: 900;
    font-size: 48px;
    text-align: center;


}

.hero> :nth-child(2) {
    font-weight: bolder;
    font-size: 24px;
    text-align: center;

}

.hero :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.seperation {
    background-color: rgb(96, 88, 88);
    height: 7px;
}

.btn {
    font-family: "poppins";
    padding: 3px 8px;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.363);
    color: white;
    border-radius: 4px;
    border: 2px solid white;
    cursor: pointer;

}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;

}

.btn-red-sm {
    background-color: red;
    color: white;
}

.main input {
    padding: 7px 101px 8px 14px;
    font-size: 12px;
    border-radius: 4px;
    font-weight: 900;
    background-color: rgba(169, 160, 160, 0);
    border: 1px solid white;
    color: white;
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}

.secImg {
    position: relative;
}

.secImg img {
    width: 32vw;
    position: relative;
    z-index: 10;

}

.secImg video {
    position: absolute;
    top: 51px;
    /* left: 50; */
    right: 0px;
    height: 250px;
    width: 28vw;

}

section.first>div {
    display: flex;
    flex-direction: column;
}

.first>div :first-child {
    font-size: 48px;
    font-weight: bolder;
}

.first>div :nth-child(2) {
    font-size: 24px;
    /* font-weight: bolder; */
}
.Faq{
    background: black;
    color: white;
    padding: 34px;
    
}

.Faqbox {
    display: flex;
    transition: all 1s ease-out;
    justify-content: space-between;
    background-color: grey;
    padding: 24px;
    max-width: 60vw;
    margin:  34px auto;
    cursor: pointer;
    font-size: 24px;
}
.Faqbox :hover{
    background-color: #414141;
}

.Faq h2{
    padding: 10px;
    color: white;
    font-size: 48px;
    text-align: center;
}

.Faqbox svg{
    filter: invert(1);
}

.faqbox {
    transition: all 1s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin: 34px auto;
    cursor: pointer;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 60px;
}

footer .questions {
    padding: 34px 0;
}


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    color: white;
}
