*{
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: cursive;
}
.main-container{
    width: 80%;
    height: 400px;
    border: 2px solid white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(to right,#330033,#000000);
    box-shadow: 0 0 10px rgba(255, 204, 71, 0.5);
    margin-top: 100px;
    margin-left: 150px;
    border: 3px solid #ffcc00;
    
}
#small-container1{
    width: 200px;
    height: 200px;
    border: 2px solid white;
    
    background-color: antiquewhite;
    text-align: center;
    font-size: 50px;
    align-content: center;
    box-shadow: 0 0 10px rgba(255, 204, 71, 0.5);
    border: 3px solid #ffcc00;
}
#small-container2{
    width: 200px;
    height: 200px;
    border: 2px solid white;
    
    background-color: antiquewhite;
    text-align: center;
    font-size: 50px;
    align-content: center;
    box-shadow: 0 0 10px rgba(255, 204, 71, 0.5);
    border: 3px solid #ffcc00;
}
#small-container3{
    width: 200px;
    height: 200px;
    border: 2px solid white;
    
    background-color: antiquewhite;
    text-align: center;
    font-size: 50px;
    align-content: center;
    box-shadow: 0 0 10px rgba(255, 204, 71, 0.5);
    border: 3px solid #ffcc00;
}
#small-container4{
    width: 200px;
    height: 200px;
    border: 2px solid white;
    
    background-color: antiquewhite;
    text-align: center;
    font-size: 50px;
    align-content: center;
    box-shadow: 0 0 10px rgba(255, 204, 71, 0.5);
    border: 3px solid #ffcc00;
}