*{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 54px;
    color: blue;
    text-align: center;
    margin-top: 20px;
}
/* .btn{
    margin-top: 10px;
} */


.content{
    width: 20%;
    height: 300px;
    border: 2px solid black;
    background-color: bisque;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    
}
.btn{
   margin-left: 300px;
   margin-top: 450px;
}
#addtn{
    margin: 50px;
    background-color: red;
    padding: 10px;
    border-radius: 10px;
    color: whitesmoke;
}
#subbtn{
    margin: 50px;
    background-color: red;
    padding: 10px;
    border-radius: 10px;
    color: whitesmoke;
}
#mulbtn{
    margin: 50px;
    background-color: red;
    padding: 10px;
    border-radius: 10px;
    color: whitesmoke;
}
#divbtn{
    margin: 50px;
    background-color: red;
    padding: 10px;
    border-radius: 10px;
    color: whitesmoke;
}
#modbtn{
    margin: 50px;
    background-color: red;
    padding: 10px;
    border-radius: 10px;
    color: whitesmoke;
}

 form{
    margin-left: 100px;
    gap: 500px;
    margin-bottom: 20px;
    margin-top: 10px;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
 }
 input{
    margin-left: 70px;
 }

  